<nav class="navbar">
    <div class="logo">
        <!-- Replace with your actual logo -->
        <img src="logo.png" alt="Logo">
        <span class="logo-text">VetSchedule</span>
    </div>
    <div class="nav-buttons">
        <button class="nav-button" routerLink='./'>Home</button>
        <button class="nav-button">My Appointments</button>
        <div *ngIf="!isLoggedIn">
        <button routerLink='/login'class="nav-button">Login</button>
        </div>
        <div *ngIf="!!isLoggedIn">
        <button (click)='authService.logout()'class="nav-button">Logout</button>
        </div>
    </div>
</nav>