<nav class="navbar">
    <div class="logo">
        <!-- Replace with your actual logo -->
        <img src="logo.webp" alt="Logo">
        <span class="logo-text">EOG Schedule</span>
    </div>
    <div class="nav-buttons">
        <button class="nav-button" routerLink='./'>Home</button>
        <div class="dropdown" (mouseenter)="show = true" (mouseleave)="show = false">
            <span class="nav-button">Usuário ▼</span>
            <div class="dropdown-content" *ngIf="show">
                <a class="nav-button" routerLink="/tasks">Meus Agendamentos</a>
                <a class="nav-button" routerLink="/register/endereco">Cadastrar endereço</a>
            </div>
        </div>
        <div *ngIf="!(isLoggedIn | async)">
            <button routerLink='/login' class="nav-button">Login</button>
        </div>
        <div *ngIf="isLoggedIn | async">
            <button (click)='authService.logout()' class="nav-button">Logout</button>
        </div>
    </div>
</nav>