<div class="main">
<h2>Registrar</h2>
<form class='form' (ngSubmit)="onRegister()">
  <input type="email" [(ngModel)]="email" name="email" placeholder="✉  Email" required>
  <input type="password" [(ngModel)]="password" name="password" placeholder="🔒  Password" required>
  <select name="select" [(ngModel)]="typeUser" required style="margin-bottom: 10px;">
    <option name='medico' value="medico">Conta de médico</option>
    <option name='cliente' value="cliente">Conta de cliente</option>
  </select>
  <div *ngIf="typeUser == 'medico'">
    <h1>Cheguei aqui</h1>
  </div>
  <button type="submit">Registrar</button>
</form>
</div>