<div class="main">
<h2>Registrar</h2>
<form class='form' (ngSubmit)="onRegister()">
  <input type="email" [(ngModel)]="email" name="email" placeholder="✉  Email" required>
  <input type="password" [(ngModel)]="password" name="password" placeholder="🔒  Password" required>
  <input type="text" [(ngModel)]="nome" name="nome" placeholder="👤 Nome" required>
  <input type="text" [(ngModel)]="cpf" name="cpf" placeholder="❗ CPF" required>
  <input type="string" [(ngModel)]="telefone" name="telefone" placeholder="📞 Telefone" required>
  <select name="select" [(ngModel)]="typeUser" required style="margin-bottom: 10px;">
    <option name='medico' value="medico">Conta de médico</option>
    <option name='cliente' value="cliente">Conta de cliente</option>
  </select>
  @if(typeUser == 'medico'){
    <input type="text" [(ngModel)]="regiao" name="regiao" placeholder="🌐 Região" required>
  }
  <button type="submit">Registrar</button>
</form>
</div>