.main {
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  max-width: 600px;
  width: 350px;
  flex-direction: column;
  margin: 0 auto;
}
button { /* Estiliza o botão "Registrar" que vem depois do segundo h2 */
    background-color: transparent;
    color: #9a309f;
    border: 1px solid #9b309f;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Ubuntu';
  }
  
button:hover {
    background-color: #9f309f;
    color: white;
    font-family: 'Ubuntu';
  }

    
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Ubuntu';
  }
  
  .form input::placeholder {
    color: #9e9e9e; 
    font-family: 'Ubuntu';
  }

  input{
     padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Ubuntu';
    color: #9e9e9e; 
    font-family: 'Ubuntu';
  }

  textarea{
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    padding: 5px;
  }

  select{
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    padding: 5px;
  }
  